:host{
    width: 100%;
    max-width: 300px;
    .user-image {
        width: 40px;
        height: 40px;
        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
        }
    }
    .user-container {
        display: flex;
        gap: 5px;
        align-items: center;
        font-weight: 500;
        margin: 10px 0;
        span {
            cursor: pointer;
        }
    }
}