<app-layout>
    <div class="sidebar profile__info">
        <div class="profile__friend-list-preview">
            <div class="w-100 section my-3">
                AMIGOS
            </div>
            <div class="no-friends-message" *ngIf="user.friends.length == 0">
                <p>No tiene amigos agregados</p>
            </div>
            <app-user-profile-preview *ngFor="let friend of user.friends" [user]="friend"></app-user-profile-preview>
            
        </div>
    </div>
    <div class="userlist-contaner">
        <app-user-list-card [user]="user" *ngFor="let user of userList"></app-user-list-card>
        <div class="no-friends-message" *ngIf="userList.length == 0">
            <p>No hay usuarios</p>
        </div>
    </div>
</app-layout>