/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    background-color: #282b35;
    color: #949fb1;
}
img {
    width: 100%;
}
*{
    scrollbar-width: thin;
    scrollbar-color: #5f657a;
    &::-webkit-scrollbar {
    background: #5f657a;
    width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #282b35;
        border-radius: 10px;
        width: 10px;
    }
}
.text-right {
    text-align: right;
}
.ml-auto {
    margin-left: auto;
}
.text-link {
    color: #1d8def;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}