<div class="profile__grid">
    <div class="profile__info">
        <div class="profile__img">
            <img src="https://st2.depositphotos.com/5727866/8396/i/600/depositphotos_83966216-stock-photo-neem-leaves-azadirachta-indica.jpg" />
        </div>
        <div class="profile__user-name">
            <h4>User Name</h4>
        </div>
        <div class="profile__friend-list-preview">
            <div class="w-100 section my-3">
                FRIENDS
            </div>
            <app-user-profile-preview></app-user-profile-preview>
            <app-user-profile-preview></app-user-profile-preview>
            <app-user-profile-preview></app-user-profile-preview>
            <app-user-profile-preview></app-user-profile-preview>
            <app-user-profile-preview></app-user-profile-preview>
            <div class="user-preview-list-empty text-muted text-right">
                <small>Ver todos</small>
            </div>
        </div>
    </div>
    <div class="profile__post-contaner">
        <app-profile-post></app-profile-post>
    </div>

</div>