
<div class="login-bg"></div>
<div class='login-container d-flex align-items-center w-100 h-100 p-5'>
    <div class="login-form-container">
        <h1 class="title">Crea una cuenta</h1>
        <h3 class="create-account-link mt-3 mb-5">
            ¿Ya tienes una cuenta? <a [routerLink]="'/'">Inicia sesion</a>
        </h3>
        <div class="input-container d-flex flex-column gap-3" [formGroup]="registerFormGroup">
            <div class="d-flex gap-4">
                <app-login-input [placeholder]="'Nombre'" [faIconName]="'fa-solid fa-id-card'" [formControlName]="'firstName'"></app-login-input>
                <app-login-input [placeholder]="'Apellido'" [faIconName]="'fa-solid fa-id-card'" [formControlName]="'lastName'"></app-login-input>
            </div>
            <app-login-input [placeholder]="'Username'" [faIconName]="'fa-solid fa-user'" [formControlName]="'username'"></app-login-input>
            <app-login-input [placeholder]="'Email'" [type]="'email'" [faIconName]="'fa-solid fa-envelope'" [formControlName]="'email'"></app-login-input>
            <app-login-input [type]="'password'" [placeholder]="'Password'" [faIconName]="'fa-solid fa-key'" [formControlName]="'password'"></app-login-input>
            <app-button [buttonLabel]="'Crear cuenta'" (onClick)="register()"></app-button>
    
        </div>
    </div>
</div>